<!DOCTYPE html>
<html>
  <head>
    <title>App Literary Insights</title>
    <link rel="icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="https://progressier.app/vMya9CAsnwUQt8CZUVeG/progressier.json"/>
    <script defer src="https://progressier.app/vMya9CAsnwUQt8CZUVeG/script.js"></script>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "footer", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "article_home", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "article_show", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "article_form", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "errors", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "sign", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "users_list", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "profile", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pagination", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "messages", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "edit_user", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "topics", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'custom' %>

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <main class="main">
      <% if logged_in? && current_user.trial %>
        <!-- app/views/layouts/_flash_message.html.erb -->
        <div class="fixed-flash-message" id="flashMessage">
          <p>Subscribe to our app for $1 monthly to help the project grow! Say Yes to Innovation: Become a Pioneer in Our Community. Subscribe Now and Lead the Change!<button onclick="closeFlashMessage()" class="close-flash-btn">&times;</button></p>
          <a href="https://bit.ly/early-adopter-web-app" class="subscribe-btn">Subscribe Now</a>
        </div>
      <% end %>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>


